[package]
name = "polyanya"
version = "0.1.0"
edition = "2021"
license = "MIT OR Apache-2.0"
keywords = ["pathfinding"]
readme = "README.md"
description = "Polygon Any Angle Pathfinding"
repository = "https://github.com/vleue/polyanya"
homepage = "https://github.com/vleue/polyanya"
documentation = "https://docs.rs/polyanya"
categories = ["game-development"]

[features]
stats = []
verbose = []

[dependencies]
tracing = { version = "0.1", optional = true }
hashbrown = { version = "0.12" }
glam = { version = "0.21.3", features = ["approx"] }
indexmap = "1.9"

[dev-dependencies]
criterion = "0.4"
tracing-tracy = "0.10"
tracing-subscriber = "0.3"
tracing = "0.1"


[[bench]]
name = "path"
harness = false
